<html>
<head>
	<meta charset="utf-8">
	<title>Hafdís kúkur</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="style.css"></link>
	<link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css"></link>
</head>

<body ng-app="keilumaster300">
	<div ng-controller="appController">
		<form class="inputDiv">
				<label class="md-body-1">Hæsta tala möguleg: </label>
				<div>
					<md-input-container class="input">
						<input type="number" ng-model="maxNum"></input>
					</md-input-container>
					<md-button class="md-raised" type="submit">ok</md-button>
				</div>
		</form>

		<div class="stuff">
			<md-button class="md-raised newNumBtn" ng-click="newNum()">Fá nýja tölu</md-button>

			<div ng-repeat="n in done" ng-class="{'winner':$last}">
				<h1 id="anchor{{n}}" class="md-display-3">{{n}}</h1>
			</div>
		</div>

	</div>

	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-aria/angular-aria.min.js"></script>
	<script src="bower_components/angular-animate/angular-animate.min.js"></script>
	<script src="bower_components/angular-messages/angular-messages.min.js"></script>
	<script src="bower_components/angular-material/angular-material.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
</body>
</html>
