.input{
    margin-bottom: 1em;
}
.winner{
    color: red;
}
.inputDiv {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stuff {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newNumBtn {
  position: fixed !important;
  bottom: 2em;
  right: 2em;
  background: #68FF5F !important;
  width: 12em;
  height: 4em;
}
